#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Dongle", sans-serif;
  font-size: 4rem;
}
.title.rotate {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.description {
  text-align: start;
}
